.jumbotron-1 {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0rem;
  background-color: #13124F;
  color: white;
}

.jumbotron-0 {
  padding: 0.5rem 1rem;
  margin-bottom: 0rem;
  border-radius: 0rem;
  background-color: #13124F;
  color: white;
}

.heading {
  margin-left: 40px;
}

.headings {
  text-align: justify;
  margin-left: 40px;
}

.btn-primary-1 {
    color: #fff;
    background-color: #F61D67;
    border-color: #F61D67;
  }
  
.btn-primary-1:hover {
  color: #fff;
  background-color: #F61D67;
  border-color: #F61D67;
}
  
.btn-primary-1:focus, .btn-primary-1.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 88, 43, 4);
}
  
.btn-primary-1.disabled, .btn-primary-1:disabled {
  color: #fff;
  background-color: #F61D67;
  border-color: #F61D67;
}
  
.btn-primary-1:not(:disabled):not(.disabled):active, .btn-primary-1:not(:disabled):not(.disabled).active,
.show > .btn-primary-1.dropdown-toggle {
  color: #fff;
  background-color: #F61D67;
  border-color: #F61D67;
}
  
.btn-primary-1:not(:disabled):not(.disabled):active:focus, .btn-primary-1:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary-1.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 88, 43, 4);
}

.box-important {
  background-color: #9090A5;
  color: white;
  width: 100%;
  height: 50px;
}

.box-important > p {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#JoeCompany {
  /* height: ; */
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
}

.samping > .btn-primary-1 {
  width: 90%;
}

.welcome {
  background-color: #9090A5;
  width: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 150%;
}

.t_welcome {
  padding-top: 3%;
  padding-left: 3%;
}

.u_welc {
  background-color: #13124F;
  color: white;
  width: 90%;
  padding: 3%
}

.greet {
  width: 100%;
  background-color: #9090A5;
  border-left: none;
  border-right: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid white;
}

.btn-primary-2 {
  color: #fff;
  background-color: #F61D67;
  border-color: #F61D67;
  width: 100%;
}

.btn-primary-2:hover {
color: #fff;
background-color: #F61D67;
border-color: #F61D67;
}

.btn-primary-2:focus, .btn-primary-1.focus {
box-shadow: 0 0 0 0.2rem rgba(0, 88, 43, 4);
}

.btn-primary-2.disabled, .btn-primary-1:disabled {
color: #fff;
background-color: #F61D67;
border-color: #F61D67;
}

.btn-primary-2:not(:disabled):not(.disabled):active, .btn-primary-1:not(:disabled):not(.disabled).active,
.show > .btn-primary-1.dropdown-toggle {
color: #fff;
background-color: #F61D67;
border-color: #F61D67;
}

.btn-primary-2:not(:disabled):not(.disabled):active:focus, .btn-primary-1:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary-1.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(0, 88, 43, 4);
}

.bot {
  background-color: #352BA5;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kanan {
  padding-left: 5%;
}

.a_bot {
  color: white;
  padding-bottom: 2%;
  padding-top: 2%;
}

.pideo {
  width: 96%;
}

.vote {
  width: 90%;
  background-color: #9090A5;
  padding: 7%;
}